:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: repeating-linear-gradient(
    180deg,
    #ddd 1px,
    #f4ff74 3px,
    #f4ff74 21px
  );
  form {
    border-radius: 0.75rem;
    background: white;
    border: 1px solid #ddd;
    padding: 3rem 2rem;
    > .btnWrapper {
      text-align: center;
      margin-top: 1rem;
    }
  }
}
