<nav>
  <ul>
    <li>Hello {{ username }}</li>
    <li (click)="logout()" id="logout">logout</li>
  </ul>
</nav>
<div class="cardWrapper">
  <div Class="card add" [routerLink]="'./add'">
    <div class="card-body">
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="plus"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
        class="svg-inline--fa fa-plus fa-w-14 fa-7x"
      >
        <path
          fill="currentColor"
          d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
          class=""
        ></path>
      </svg>
    </div>
  </div>
  <div
    [ngClass]="{ card: true, content: true, done: todo.status === 'Done' }"
    *ngFor="let todo of todoList | async"
  >
    <video controls *ngIf="todo.media[1]; else img" [poster]="todo.media[0]">
      <source [src]="todo.media[1]" />
    </video>
    <ng-template #img>
      <img
        [src]="todo.media[0] ? todo.media[0] : 'assets/missing.png'"
        class="card-img-top"
        [routerLink]="'./' + todo._id"
      />
    </ng-template>
    <div class="card-body" [routerLink]="'./' + todo._id">
      <h5 class="card-title">{{ todo.title }}</h5>
      <p class="card-text">{{ todo.body }}</p>
      <small
        >Created by <b>{{ todo.owner }}</b> at
        {{ todo.created | date: 'short' }}</small
      >
      <small *ngIf="todo.edited"
        >Last edited at {{ todo.edited | date: 'short' }}</small
      >
    </div>
    <svg
      *ngIf="todo.status === 'Done'"
      aria-hidden="true"
      focusable="false"
      data-prefix="fas"
      data-icon="check-double"
      role="img"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512"
      class="svg-inline--fa fa-check-double fa-w-16 fa-2x"
    >
      <path
        fill="currentColor"
        d="M505 174.8l-39.6-39.6c-9.4-9.4-24.6-9.4-33.9 0L192 374.7 80.6 263.2c-9.4-9.4-24.6-9.4-33.9 0L7 302.9c-9.4 9.4-9.4 24.6 0 34L175 505c9.4 9.4 24.6 9.4 33.9 0l296-296.2c9.4-9.5 9.4-24.7.1-34zm-324.3 106c6.2 6.3 16.4 6.3 22.6 0l208-208.2c6.2-6.3 6.2-16.4 0-22.6L366.1 4.7c-6.2-6.3-16.4-6.3-22.6 0L192 156.2l-55.4-55.5c-6.2-6.3-16.4-6.3-22.6 0L68.7 146c-6.2 6.3-6.2 16.4 0 22.6l112 112.2z"
        class=""
      ></path>
    </svg>
  </div>
</div>

<router-outlet></router-outlet>
