/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.loading {
  cursor: progress !important;
}
body {
  background-color: #eee;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}
